
.actionBarContainer{
    max-width: 424px;
    width: 100%;
    min-width: 360px;
    margin: 0 auto;
    height: 42px;
    background-color: #1C164A;
    top:0;
    position: fixed;
    border-bottom-left-radius: 15px;
    font-size: 16px;
}

.leftActionsContainer{
    left:15px;
    position: absolute;
    display: flex;
    height:100%;
    align-items: center;
}

.rightActionsContainer{
    right:15px;
    position: absolute;
    display: flex;
    height:100%;
    align-items: center;
}